<!DOCTYPE html>
<html>
  <head>
    <title>Edumail</title>
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="Edumail">
    <meta name="author" content="Edumail">
    <!-- Mandatory Files -->
    <link rel="shortcut icon" href="assets/images/brand_01.png">
    <!-- Logo -->
    <link rel="stylesheet" href="assets/css/base.css"> <!-- Base -->
    <link rel="stylesheet" href="assets/css/header.css"> <!-- Header -->
    <link rel="stylesheet" href="assets/css/footer.css"> <!-- Footer -->
    <link rel="stylesheet" href="assets/css/styles.css"> <!-- Styles -->
    <link rel="stylesheet" href="assets/css/mediaquery.css"> <!-- Media Query -->
    <!-- Style Level Files -->
    <script src="assets/js/jquery-1.12.3.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
  </head>
  <body class="login-page" ng-app="">
    <header class="header-login">
      <div class="header-inner clearfix">
        <div class="logo-login">
          <img src="assets/images/logo.png" alt="Edumail"/>
        </div>
      </div>
    </header>
    <main class="main-login">
      <div class="main-inner">
        <div class="tag-banner">
          <h2 class="hidden-small">Masuk untuk menggunakan Edumail</h1>
        </div>
        <div class="box-login">
          <span class="error-message" align="center">Email atau password Anda salah</span>
          <form action="" name="myForm">
            <div class="form-element">
              <fieldset>
                <label id="username-label">
                  <strong>Email/Username</strong>
                  <input type="email" maxlength="30" autocomplete="off" name="email" id="email" value="" placeholder="Your email" ng-model="email" required>
                  <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                  <span ng-show="myForm.email.$error.required">Field email tidak boleh kosong.</span>
                  <span ng-show="myForm.email.$error.email">Alamat email salah.</span>
                </label>
              </fieldset>
            </div>
            <div class="form-element">
              <fieldset>
                <label id="password-label">
                  <strong>Kata Sandi</strong>
                  <input type="password" name="password" id="password" value="" placeholder="Password" ng-model="password" required>
                  <span class="pass-unhide"><img src="assets/images/eye_icon.png"></span>
                  <span style="color:red" ng-show="myForm.password.$dirty">
                  <span ng-show="myForm.password.$error.required">Field password tidak boleh kosong.</span>
                </label>
              </fieldset>
            </div>
            <input id="signin" name="signin" class="button-signin submit" type="submit" value="Masuk" ng-disabled="myForm.email.$dirty && myForm.email.$invalid && myForm.password.$dirty">
          </form>
          <div class="forgot-btn">
            <a href="forgot-password.html">Lupa password?</a>
          </div>
        </div>
        <a class="btn-register" href="register.html">Buat akun</a>
      </div>
    </main>
    <footer class="footer-login">
      <div class="footer-inner clearfix">
        <ul>
          <li><a href="#">About Edumail</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </footer>
    <script>
      $(document).ready(function() {
        $(".pass-unhide").click(function() {
          if ($("#password").attr("type") == "password") {
            $("#password").attr("type", "text");

          } else {
            $("#password").attr("type", "password");
          }
        });
      });
    </script>
  </body>
</html>