header {
  height: 73px;
  overflow: hidden;
}
.header-inner {
  padding-left: 10px;
  padding-right: 10px;
}
.logo-login {
  width: 116px;
  height: 38px;
  margin: 20px auto;
}
.logo-login img {
  width: 116px;
  height: 38px;
}